
@{
    
    Layout = null;
}


      <div class="container">
          <div class="row">
              <ol>
                  <li>@Model.Nombre</li>
              </ol>
          </div>
      </div>


