
@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>@ViewBag.Captura</h2>

<a class="btn btn-primary" href="/Libro/Index?id=@ViewBag.usuario">Volver a Agregar</a>
<a class="btn btn-success" href="/Libro/MisLibros?id=@ViewBag.usuario">Ver mis Libros</a>
