
@{
    ViewBag.Title = "Comentar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comentar</h2>
<form action="/Libro/Comentar" method="post">
    <label>Ingrese comentario</label>
    <input  name="Nombre" value="" />
    <button>Crear Comentario</button>
</form>
