
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

<form action="/Libro/Crear" method="post" enctype="multipart/form-data">
    <label>Nombre</label>
    <input class="form-control" name="Titulo" value="" />
    <label>Autor</label>
    <input class="form-control" name="Autor" value="" />

    <label>Resumen</label>
    <input class="form-control" name="Resumen" value="" />

    <div class="form-group">
        <label>Imagen</label>
        <input type="file" name="file">
        @*@Html.ValidationMessage("Imagen")*@
    </div>
    <button>Crear</button>
</form>