
@{
    ViewBag.Title = "MisLibros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .verde {
        color:green;    
    }
</style>

<div style="text-align:center">
    <h2><strong>Mis Libros</strong></h2>
</div>
<br />


<div class="container">

    <a class="btn btn-primary" href="/Libro/Index?id=@ViewBag.usuario">Agregar Favoritos</a>
    <a href="/Libro/Salir" class="btn btn-primary">Cerrar Sesión</a>
</div>
<br />
<div id="enc">
    @foreach (var item in Model)
    {
    <div class="col-md-4" style="border:1px">
        <img src="@item.Imagen" style="width:200px;height:200px" />
        <br />
        <strong>Titulo:</strong> @item.Titulo
        <br />
        <strong>Autor:</strong> @item.Autor
        <br />
        <strong>Estado:</strong> <label class="verde">@item.Estado</label>
        <br />
        <a class="btn btn-primary" href="/Libro/Detalle?IdLibro=@item.Id">Ver Más</a>
    </div>
    }
</div>